body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("https://image.ibb.co/gEHNLk/stock_photo.jpg") no-repeat center center;
    background-size: cover;
}

.shop-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("https://image.ibb.co/nFP2Lk/shop_stock.jpg") no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url("https://image.ibb.co/cVH6fk/banner_bg2.jpg") no-repeat center center;
    background-size: cover;
}

.shop-banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url("https://image.ibb.co/fChHmQ/shop_banner2.jpg") no-repeat center center;
    background-size: cover;
}

.banner h2, .shop-banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul, .shop-banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}
@media(max-width:1199px) and (min-width:767px) {
  .col-width-50 {
    width:50%;
  }
  ul.shop-social-button{
    float:right;
    margin-top: 0;
  }
}
@media (min-width:992px) {
  .modal {
    top:10%!important;
  }
}

@media(max-width:991px) and (min-width: 767px) {
  .margin-top-50 {
    margin-top: 50px;
  }
  .margin-top-90 {
    margin-top: 90px;
  }
  .margin-top-110 {
    margin-top:110px;
  }
}

@media(min-width:767px) {
  .mobile-flex-center {
    display:flex;
    align-items:center;
  }
  .modal > h2 {
    word-wrap: break-word;
  }
}

@media(max-width:991px) {
  .modal{
    top:5%!important;
  }
}

@media(max-width:480px) {
  #pdf-download-text {
    margin-left: 20px;
    margin-right:20px;
  }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}


.text-dark {
  color: #000!important;
}

.v-align-middle {
  vertical-align: middle;
}

.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.border-solid {
  border-radius: 7px;
  border: 15px solid black;
}

.navy-blue {
  color:#00008B!important;
}
.red {
  color:#C81010!important;
}
.black {
  color:#000!important;
}
.bootstrap-primary-blue {
  color:#5bc0de;
}

.button3d-green {
  color:#6cbf3b;
}

.amazon-orange {
  color:#FF9900;
}

.background-orange {
  background-color:#ff9900!important;
}
.background-white {
  background-color:white!important;
}
.margin-top-15 {
  margin-top:15px!important;
}

.margin-bottom-15 {
  margin-bottom:15px!important;
}

.button-3d {
    -webkit-border-radius: 10px;
    -webkit-box-shadow:
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */

    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.button-3d span {
  background-color: #E8E8E8;

  background-image:
        /* gloss gradient */
    -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(50%,rgba(255,255,255,0)),
        color-stop(50%,rgba(255,255,255,0.3)),
        color-stop(100%,rgba(255,255,255,0.2))),

        /* dark outside gradient */
    -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%,rgba(210,210,210,0.3)),
      color-stop(20%,rgba(210,210,210,0)),
      color-stop(80%,rgba(210,210,210,0)),
      color-stop(100%,rgba(210,210,210,0.3))),

    /* light inner gradient */
  -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%,rgba(255,255,255,0)),
      color-stop(20%,rgba(255,255,255,0.5)),
      color-stop(80%,rgba(255,255,255,0.5)),
      color-stop(100%,rgba(255,255,255,0))),

  /* diagonal line pattern */
  -webkit-gradient(
      linear,
      0% 100%,
      100% 0%,
      color-stop(0%,rgba(255,255,255,0)),
      color-stop(40%,rgba(255,255,255,0)),
      color-stop(40%,#D2D2D1),
      color-stop(60%,#D2D2D1),
      color-stop(60%,rgba(255,255,255,0)),
      color-stop(100%,rgba(255,255,255,0)));

  -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
  -webkit-background-size: 100%, 100%, 100%, 4px 4px;
  -webkit-border-radius: 10px;
  -webkit-transition: -webkit-transform .1s ease-in-out;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  color: #3A474D;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
  font-weight: 700;
  font-size: 20px;
  text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.button-3d span:hover {
  color: #6cbf3b;
  text-shadow: 0px -1px #97A63A;
  cursor: pointer;
}

.button-3d:focus{
  outline:none;
}
.button-3d:active {
  -webkit-box-shadow:
  0px 3px rgba(128,128,128,1),
  0px 4px rgba(118,118,118,1),
  0px 5px rgba(108,108,108,1),
  0px 6px rgba(98,98,98,1),
  0px 7px rgba(88,88,88,1),
  0px 8px rgba(78,78,78,1),
  0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
}

.button-3d:active span{
  -webkit-transform: translate(0, 5px); /* depth of button press */
}
/*  3d button end */

#finance-modal{
  top:25%;
  left:15px;
}

#finance-modal-dialog {
  width:auto;
  height:auto;
}

.font-150 {
  font-size:150px!important;
}
.font-20 {
  font-size:20px!important;
}
.font-30 {
  font-size:30px!important;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  font-size:20px;
}
.dropdown-menu > li > a {
  white-space: normal;
}
.dropdown-menu > li > a:hover {
    background-color: #31b0d5;
    background-image: none;
}

.display-none {
  display: none;
}