body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.absolute-center {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}
iframe {
  border:none;
}
.intro-header {
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("https://image.ibb.co/b2C2av/stock_photo.jpg") no-repeat center center;
    background-size: cover;
}

.shop-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("https://image.ibb.co/kGDm2a/shop_stock.jpg") no-repeat center center;
    background-size: cover;
}


.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.close-button {
  overflow: hidden;
}
#index-yt-modalDialog {
  width:98%;
}
.index-yt-modalContent {
  box-shadow: none;
  background-color: transparent;
  border: 0;
}
  
.index-yt-modalContent .close {
  font-size: 30px;
  line-height: 30px;
  text-shadow: none;
  opacity: 1;
  color:#fff;
}

.index-yt-modalContent .close span {
  display: block;
}

.index-yt-modalContent .close:hover,
.index-yt-modalContent .close:focus {
  opacity: 1;
  outline: none;
}

.index-yt-modalContent iframe {
  display: block;
  margin: 0 auto;
}

#science-message {
    padding-top:5%;
    padding-bottom:5%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h2 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}



.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url("https://image.ibb.co/fK44oF/banner_bg2.jpg") no-repeat center center;
    background-size: cover;
}

.shop-banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url("https://image.ibb.co/gDAuoF/shop_banner2.jpg") no-repeat center center;
    background-size: cover;
}

.banner h2, .shop-banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul, .shop-banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}


@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .banner-social-buttons{
    float:none;
    padding-top:15px;
    margin-left:0;
    }
    .study-header {
      font-size:20px!important;
    }
    .abstract-header {
      font-size:14px!important;
    }
    .abstract-body {
      font-size:14px!important;
    }
    .reference-header{
      font-size:18px!important;
    }
    .reference-link {
      display:block;
      overflow:hidden;
      text-overflow:ellipsis;
    }
}
@media(max-width:1199px) and (min-width:767px) {
  .col-width-50 {
    width:50%;
  }
}
@media (min-width:992px) {
  .modal {
    top:10%!important;
  }
  #mobile-vids {
    display:none;
  }
  #image-loader{
    display:none;
  }
  #video-modal-h1 {
    padding-left:15px;
  }
  #index-text-modal {
  top:0!important;
  padding-right:0!important;
  }
}

@media(max-width:991px) and (min-width: 768px) {
  .margin-top-50 {
    margin-top: 50px;
  }
  .index-image1 {
    margin-top: 170px!important;
  }
  .margin-top-110 {
    margin-top:110px;
  }
}

@media(min-width:768px) {
  .modal > h2 {
    word-wrap: break-word;
  }
}

@media(max-width:991px) {
  .videos-h1 {
    font-size:45px!important;
  }
  .modal{
    top:5%!important;
  }
  .carousel {
    display:none;
  }
  #mobile-vids{
    display:block;
  }
  #video-modal-h1 {
    text-align:center;
    font-size:20px;
  }
  #image-loader {
    display:inline-block;
  }
  .video-modal-footer {
    text-align:center;
  }
  .videos-headers {
    text-align:center;
    left:50%!important;
    transform: translate3d(-50%, -50%, 0)!important;
  }
  .video-footer-h2 {
    display:none;
    font-size:20px;
  }
}

@media(max-width:480px) {
  #pdf-download-text {
    margin-left: 20px;
    margin-right:20px;
  }
}
.index-image1 {
  margin-top:80px;
}
footer {
    padding: 25px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.text-dark {
  color: #000!important;
}

.flex-center {
  display: flex;
  align-items: center;
}

.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.border-solid {
  border-radius: 7px;
  border: 15px solid black;
}

.navy-blue {
  color:#00008B!important;
}
.enagic-blue {
  color:#4c4cff!important;
}
.red {
  color:#C81010!important;
}
.black {
  color:#000!important;
}

.bootstrap-primary-blue {
  color:#5bc0de;
}

.button3d-green {
  color:#6cbf3b;
}

.amazon-orange {
  color:#FF9900;
}

.background-orange {
  background-color:#ff9900!important;
}
.background-white {
  background-color:white!important;
}

.background-dark {
  background-color:black!important;
}
.background-maldives{
  background: linear-gradient(to right, rgb(97, 144, 232), rgb(167, 191, 232));
}
.white {
  color:white!important;
}
.margin-top-0 {
  margin-top:0!important;
}
.margin-top-15 {
  margin-top:15px!important;
}

.margin-bottom-15 {
  margin-bottom:15px!important;
}

.margin-top-40 {
  margin-top: 40px!important;
}
.modal-hr-spacing {
  margin-top:10px!important;
  margin-bottom:10px!important;
}
.padding-0 {
  padding:0 !important;
}

.padding-top-15 {
  padding-top:15px!important;
}
.padding-top-100 {
  padding-top:100px!important;
}
.button-3d {
    -webkit-border-radius: 10px;
    -webkit-box-shadow:
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.button-3d span {
  background-color: #E8E8E8;
  background-image:
        /* gloss gradient */
    -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(50%,rgba(255,255,255,0)),
        color-stop(50%,rgba(255,255,255,0.3)),
        color-stop(100%,rgba(255,255,255,0.2))
        ),

        /* dark outside gradient */
    -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%,rgba(210,210,210,0.3)),
      color-stop(20%,rgba(210,210,210,0)),
      color-stop(80%,rgba(210,210,210,0)),
      color-stop(100%,rgba(210,210,210,0.3))
      ),

    /* light inner gradient */
  -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%,rgba(255,255,255,0)),
      color-stop(20%,rgba(255,255,255,0.5)),
      color-stop(80%,rgba(255,255,255,0.5)),
      color-stop(100%,rgba(255,255,255,0))
      ),

  /* diagonal line pattern */
  -webkit-gradient(
      linear,
      0% 100%,
      100% 0%,
      color-stop(0%,rgba(255,255,255,0)),
      color-stop(40%,rgba(255,255,255,0)),
      color-stop(40%,#D2D2D1),
      color-stop(60%,#D2D2D1),
      color-stop(60%,rgba(255,255,255,0)),
      color-stop(100%,rgba(255,255,255,0))
      );

    -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
  
  display: inline-block;
  padding: 10px 40px 10px 40px;
  color: #3A474D;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
  font-weight: 700;
  font-size: 20px;
  text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.button-3d span:hover {
  color: #6cbf3b;
  text-shadow: 0px -1px #97A63A;
  cursor: pointer;
}

.button-3d:focus{
  outline:none;
}
.button-3d:active {
  -webkit-box-shadow:
  0px 3px rgba(128,128,128,1),
  0px 4px rgba(118,118,118,1),
  0px 5px rgba(108,108,108,1),
  0px 6px rgba(98,98,98,1),
  0px 7px rgba(88,88,88,1),
  0px 8px rgba(78,78,78,1),
  0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
}

.button-3d:active span{
  -webkit-transform: translate(0, 5px); /* depth of button press */
}
/*  3d button end */

#finance-modal{
  top:25%;
  left:15px;
}

#email-modal-dialog {
  width: 80%!important;
  max-width: 80%!important;
  height: 70%!important;
  max-height: 70%!important;
  margin:auto;
}

.email-modal-title {
  font-size:32px; 
  margin-top:38px; 
  margin-bottom:20px;
}

#finance-modal-dialog {
  width:70%;
  max-width: 70%;
  height:80%;
  max-height:80%;
  margin:auto;
}

#email-modal {
  width: auto;
  height: auto;
}

.control-label {
  font-size:16px;
}
.font-150 {
  font-size:150px!important;
}
.font-20 {
  font-size:20px!important;
}
.font-30 {
  font-size:30px!important;
}
.font-40 {
  font-size:40px!important;
}
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  font-size:20px;
}
.dropdown-menu > li > a {
  white-space: normal;
}
.dropdown-menu > li > a:hover {
    background-color: #31b0d5;
    background-image: none;
}

.display-none {
  display: none;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* youtube lazy load*/

.youtube,
.ytplayer-div {
    background-color: #f8f8f8;
}

.youtube {
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}

.youtube img {
    top: 0;
    width:100%;
    height:100%;
}

.youtube .play-button {
    width: 72px;
    height: 48px;
    background-color: #333;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    z-index: 1;
    opacity: .8;
    border-radius: 6px;
}

.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent #fff;
}

.youtube .play-button,
.youtube img {
    cursor: pointer;
}

.youtube .play-button,
.youtube .play-button:before,
.youtube iframe,
.youtube img {
    position: absolute;

}

.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* end of youtube lazy load */

.current {
  background-color: blue;
  color:white;
}

.black-border {
  border: 1px solid black;
}

.videos-top-container {
  padding-top:50px;
  padding-left:0px;
  padding-right:0px;
  width:100%;
  background-color:black;
}
#science-video-div {
  background: black url("https://image.ibb.co/k66H8F/science.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-images-prop{
  height:825px;
  opacity:.6;
}

#testimonial-video-div {
  background-image: url("https://image.ibb.co/icGjoF/testimonial.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}
#demo-video-div {
  background-image: url("https://image.ibb.co/bHYKNa/demo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 
}
.watch-now-button {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top:.8em;
  font-weight:700;
  color:white;
  text-transform: uppercase;
  box-shadow:0 3px 6px rgba(0,0,0, .1);
  text-decoration: none;
  border:1px solid white;
}

.watch-now-button:hover {
  background-color:green;
  color:white;
  text-decoration:none;
}

.feature-message {
  position:relative;
  padding-top:15%;
  padding-bottom:15%;
}

.videos-headers {
  position:absolute;
  top: 50%;
  left: 10%;
  transform: translate3d(0, -50%, 0);
}
.videos-h1 {
  margin: 0 auto 5px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  width:100%;
  font-size:55px;
}

.videos-p {
  font-size:20px;
}

.padding-left-right-0 {
  padding-left:0 !important;
  padding-right:0 !important;
}

.margin-left-right-0{
  margin-left:0!important;
  margin-right:0!important;
}

/* The Modal (background) */
.video-modal {
    display:none;
    position: absolute;
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background:rgba(0,0,0,.5);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

/* Modal Content */
.video-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}


/* Add Animation */

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}
@keyframes roadRunnerIn {
  0% {
    transform:translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform:translateX(30px) skewX(0deg) scaleX(.9);
  }
  100% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform:translateX(-30px) skewX(-5deg) scaleX(.9);
  }
  100% {
    transform:translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@keyframes slideUpLarge {
  0% {
    transform:translateY(0%);
  }
  100% {
    transform:translateY(-100%);
  }
}

@keyframes scaleUp {
  0% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
}

@keyframes moveUp {
  0% {
    transform:translateY(150px);
  }
  100% {
    transform:translateY(0);
  }
}

.video-footer-h2 {
  animation: roadRunnerIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.unfoldIn {
  animation:unfoldIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.unfoldOut {
  animation:unfoldOut .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}



/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity:1;
    margin-top:20px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.video-modal-body {
  padding: 0 16px;
}
#videoModal {
  padding-bottom:10px;
}
.video-modal-footer {
    padding: 2px 16px;
    padding-bottom: 20px;
    background-color: white;
}

#main-video-player {
  background-color:black;
  height:500px;
}
.white-border {
  border: 1px solid white;
}

.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.iframe-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-bottom: 75%;
}
 
.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.padding-top-70 {
  margin-top: 70px!important
}
.padding-bottom-120{
  padding-bottom: 120px!important
}
.resize-vertical {
  resize: vertical;
}
.float-right {
  float:right!important;
}
.carousel-control {
  padding-top:10%;
  width:3%;
}

.mobile-vids-grid {
  padding:0;
  border: 10px white solid;
}

.fixed-height-160 {
  height:160px;
}

.studies-btn {
  width:100%; 
  height:100%; 
  white-space:normal;
}

.author-body {
  padding-left:2em;
}

.author-btn {
  padding-left:5px;
}

.abstract-header {
  color:purple;
}
.study-header {
  text-shadow: 1px 0px 0px rgba(2, 2, 2, 1);
}
.studies-btn > p {
  text-shadow: 1px 0px 0px rgba(2, 2, 2, 1);
}
.study-body {
  background: linear-gradient(to right, rgb(161, 255, 206), rgb(250, 255, 209));
}
.abstract-header {
  font-size: 18px;
}
.abstract-body {
  padding-left: 2em;
  font-size:18px;
}

.reference-link {
  padding-left:2em;
  font-size: 16px;
}

.border-none {
  border: none!important;
}

.panel-group .panel+.panel {
  margin-top: 0!important;
}


#index-text-modalDialog {
  width:90%;
}

.extra-bold {
  text-shadow: 1px 0px 0px rgba(2, 2, 2, 1);
}

#modal-article1 p {
  font-size: 16px;
}

#modal-article2 p {
  font-size: 15px;
}

#modal-article3 p {
  font-size: 15px;
}